<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="col-md-12 text-center"><h3 translate="ALL_TASK_PRIO_BAR_CHART"></h3></div>
        <canvas id="bar2" class="chart chart-bar"
                chart-data="cc.barChartParams2['dataForBarChart']" chart-labels="cc.barChartParams2['labelsForBarChart']" chart-series="cc.barChartParams2['series']" chart-options="cc.barChartParams2['options']" chart-colors="cc.barChartParams2['colours']"></canvas>
    </div>
</div>