<div class="add-task-btn-float-right margin-all row">
    <a ui-sref="home" class="underline" translate="SHOW_DASHBOARD"></a>
</div>
<div>
    <table>
        <tr class="row">
            <td class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div>
                    <ul class="nav nav-pills nav-stacked">
                        <li class=" submenu-chart waves-effect waves-green" ng-class="{ activeClass: cc.isActiveMenu('/charts/barcharts')}"><a ui-sref=".barchart">Bar Chart Task</a></li>
                        <li class="submenu-chart waves-effect waves-green" ng-class="{ activeClass: cc.isActiveMenu('/charts/alltaskbypriority')}"><a ui-sref=".barchartpriority">Bar Chart Priority</a></li>
                        <li class="submenu-chart waves-effect waves-green" ng-class="{ activeClass: cc.isActiveMenu('/charts/piechart')}"><a ui-sref=".piechart">Pie Chart</a></li>
                        <li class="submenu-chart waves-effect waves-green" ng-class="{ activeClass: cc.isActiveMenu('/charts/open-task-pie-chart')}"><a ui-sref=".open-task-piechart">Open Task Pie Chart</a></li>
                        <li class="submenu-chart waves-effect waves-green" ng-class="{ activeClass: cc.isActiveMenu('/charts/inprogress-task-pie-chart')}"><a ui-sref=".inprogress-task-piechart">In-progress Task Pie Chart</a></li>
                        <li class="submenu-chart waves-effect waves-green" ng-class="{ activeClass: cc.isActiveMenu('/charts/completed-task-pie-chart')}"><a ui-sref=".completed-task-piechart">Completed Task Pie Chart</a></li>
                        <li class="submenu-chart waves-effect waves-green" ng-class="{ activeClass: cc.isActiveMenu('/charts/invalid-task-pie-chart')}"><a ui-sref=".invalid-task-piechart">Invalid Task Pie Chart</a></li>
                        <li class="submenu-chart waves-effect waves-green" ng-class="{ activeClass: cc.isActiveMenu('/all-charts')}"><a ui-sref="all-charts">All Chart</a></li>
                    </ul>
                </div>
            </td>
            <td class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                <div ui-view></div>
            </td>
        </tr>
    </table>
</div>