<div class="container" id="header">
    <div class="row" ng-controller="TranslateLangController as tlc">
        <div class="col-md-8 col-sm-8 col-xs-12">
            <h1 class="heading1"><strong translate="TITLE"></strong></h1>
            <h4 class="heading4" translate="SUB_TITLE"></h4>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="lang">
                <a href="" ng-click="tlc.changeLanguage('en')" translate="EN_LANG_TITLE"></a>
                <span>|</span>
                <a href="" ng-click="tlc.changeLanguage('es')" translate="DE_LANG_TITLE"></a>
            </div>
        </div>
    </div>
</div>
<hr/>
<div class="container" id="body" >
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-8">
            <select class="form-control form-control-select" ng-model="selectedStatus"  ng-options="selectedStatus for selectedStatus in dc.allStatus">
                <option value="">-Select status-</option>
            </select>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-4" >
            <button type="button" class="btn btn-primary add-task-btn-float-right" id="addTaskBtn" translate="TASK_BUTTON" ng-click="dc.openAddNewTaskModal()">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
    </div>
    <hr />
    <!--<render-dashboard-tasks tasks="ALL_TASKS"></render-dashboard-tasks>-->
    <render-dashboard-tasks></render-dashboard-tasks>
</div>
<hr/>
<div class="container text-right" id="footer">
    <div class="row center">
        <div class="col-md-12">
            <h4>Powered by SemanticBits</h4>
        </div>
    </div>
</div>
