
<div class="container" id="body" >
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-8">
            <div class="col-md-6 col-sm-6 col-xs-6 padding-left">
                <ui-select ng-model="dc.taskstatus.selected" theme="bootstrap">
                    <ui-select-match placeholder="-Select Status-">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="s in dc.allStatus | filter: $select.search">
                        {{s.name}}
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <ui-select class="select-style" multiple ng-model="dc.taskPriority.selected" theme="bootstrap" ng-disabled="dc.disabled" close-on-select="false" >
                    <ui-select-match placeholder="Select prioprity...">{{$item}}</ui-select-match>
                    <ui-select-choices repeat="prio in dc.allPriority | filter:$select.search">
                        <div ng-bind-html="prio | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
                <!--<ui-select multiple ng-model="dc.taskPriority.selected" theme="bootstrap" ng-disabled="dc.disabled" close-on-select="false" >
                    <ui-select-match placeholder="Select prioprity...">{{$item.name}}</ui-select-match>
                    <ui-select-choices repeat="prio in dc.allPriority | propsFilter:{name:$select.search} ">
                        <div ng-bind-html="prio.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
                <p>Selected: {{dc.taskPriority.selected}}</p>-->
            </div>
        </div><!--ui-sref-opts="{reload: true}"-->
        <div class="col-md-6 col-sm-6 col-xs-4" >
            <a ui-sref="showcharts({selectedTaskStatus: dc.taskstatus.selected,selectedTaskPriority:dc.taskPriority.selected})" class="underline" translate="SHOW_TASKS_CHART"></a>
            <a ui-sref="charts" class="underline mar-left" translate="CHART_MENU"></a>
            <button type="button" ng-if="userRole!==1"
                    class="btn btn-primary add-task-btn-float-right"
                    id="addTaskBtn" translate="TASK_BUTTON"
                    ng-click="dc.openAddNewTaskModal()">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
    </div>
    <hr />
    <!--<render-dashboard-tasks tasks="ALL_TASKS"></render-dashboard-tasks>-->
    <render-dashboard-tasks></render-dashboard-tasks>
</div>
