<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="col-md-12 text-center"><h3 translate="COMPLETE_TASK_PIE_CHART"> </h3></div>
        <canvas id="completedTaskPrio" class="chart chart-pie"
                chart-data="cc.completedPieChartparams.data" chart-labels="cc.completedPieChartparams['labelsForPieChart']"
                chart-options="cc.completedPieChartparams['options']" chart-colors="cc.completedPieChartparams.colours">
        </canvas>
    </div>
</div>