<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="col-md-12 text-center"><h3 translate="INPRO_TASK_PIE_CHART"> </h3></div>
        <canvas id="inproTaskPrio" class="chart chart-pie" chart-data="cc.inproPieChartparams['dataForPieChartInpro']"
                chart-labels="cc.inproPieChartparams['labelsForPieChart']" chart-options="cc.inproPieChartparams['pieChartOptions']"
                chart-colors="cc.inproPieChartparams.colours">
        </canvas>
    </div>
</div>