<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="col-md-12 text-center"><h3 translate="INVALID_TASK_PIE_CHART"> </h3></div>
        <canvas id="inavlidTaskPrio" class="chart chart-pie" chart-data="cc.invalidPieChartparams.data"
                chart-labels="cc.invalidPieChartparams['labelsForPieChart']" chart-options="cc.invalidPieChartparams['options']"
                chart-colors="cc.invalidPieChartparams.colours" >
        </canvas>
    </div>
</div>