html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  border: 2px solid black;
  margin: 0.2%!important;
  background-color: #EDEFF0;
  color: #474d52 ;
}
.leftRightPadding {
  padding-left: 5%;
  padding-right: 5%;
  color: #555;
}

.glyphicon-trash-font-weight {
  font-weight: 900 !important;
}
.task-invalid button.delete {
  background-color: #EDEFF0;
  transition: all 0.3s ease 0s;
}
.delete {
  background-color: #fff;
  transition: all 0.3s ease 0s;
}
.delete:hover {
  transform: translateY(-4px);
}
.task {
  min-width: 200px;
  max-width: 300px;
  height: auto;
  margin: 2% 3.8%;
  padding: 1%;
 /* border: 1px solid #ddd;*/
  background-color: #fff;
}
.lang {
  float:right;
  margin:6% 0%;
}
.lang a{
  text-decoration: underline;
}
#body > div > div.row {
  margin: 2%;
}
.form-control-select {
  height: 27px !important;
  width: 100%;
  padding: 3px 12px !important;
  border-color: #cccccc;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.add-task-btn-float-right {
  float: right !important;
}
.margin-all {
  margin: 2% 3%;
}
.login-margin-top-buttom {
  margin-top: 1%;
  margin-bottom: 1%;
}
body hr {
  height:1px;
  border:none;
  border-bottom: 2px solid #000;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.login-logout-right-margin {
  margin-right: -50px;
}
/* Tooltip */
/*.test + .tooltip > .tooltip-inner {
  background-color: #FFFFFF;
  color: #7F8A94;
  border: 1px solid gray;
  padding: 15px 30px;
  font-size: 14px;
  border-style: ridge;

}*/
.padding-left {
  padding-left: 0%!important;
}
.underline {
  text-decoration: underline;
}
.mar-left{
  margin-left: 6px;
}
.invalid {
  text-decoration: line-through;
  color: #d7d7d7;
}
.task-invalid {
  text-decoration: line-through;
  background-color: #5e5e5e;
  color: #d7d7d7;
}
.task-completed {
  background-color: #d7d7d7;
  color: #EDEFF0;
}
.completed {
  background-color: #d7d7d7;
  color: #EDEFF0;
 /* background-color: #5bc0de;
  border-color: #46b8da;
  color: #fff*/
}
.task-inprogress{
  background-color: #5bc0de;
  color: #d7d7d7
}
.inprogress {
   background-color: #5bc0de;
   color: #fff
}
input[type="checkbox"].check-completed {
  display: none;
}

.card {
  box-shadow: 0px 5px 5px -4px rgba(0, 0, 0, 0.75);
}
.grow {
  transition: all .2s ease-in-out;
  /*opacity: 1;*/
  /*filter: alpha(opacity=100);*/ /* internet explorer */
}
.grow:hover {
  transform: scale(1.1);
  opacity: 0.8;
  /*filter: alpha(opacity=60);*/ /* internet explorer */
}
.top-bottom-margin {
  margin-top: 1%;
  margin-bottom: 1%;
}
.select-width {
  width: 187px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .select-width {
    width: 175px;
  }
}
.margin-left_and_width {
  margin-left: 27%;
  width: 624px;
}
.submenu-chart{
  transition: all 0.3s ease 0s;
}
.submenu-chart:hover{
  transform: translateY(-4px);
}
li.activeClass {
  background: rgba(20, 80, 10, 0.81) none repeat scroll 0 0;
  border-radius: 4px;
}
.login-btn-padding-right {
  padding-right: 5px;
}
.login-btn-padding-left {
  padding-left: 5px;
}
/*.waves-effect {
  -moz-user-select: none;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-out 0s;
  vertical-align: middle;
  will-change: opacity, transform;
  z-index: 1;
}
.waves-green {
  background-color: rgba(76, 175, 80, 0.7);
}

.waves-effect .waves-ripple {
  background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
  border-radius: 50%;
  height: 20px;
  margin-left: -10px;
  margin-top: -10px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transform: scale(0);
  transition-delay: 0s;
  transition-duration: 0.7s;
  transition-property: transform, opacity;
  transition-timing-function: ease-out;
  width: 20px;
}
.waves-effect.waves-light .waves-ripple {
  background-color: rgba(255, 255, 255, 0.45);
}
a.waves-effect .waves-ripple {
  z-index: -1;
}*/



