html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  border: 2px solid black;
  margin: 0.2%!important;
  background-color: #EDEFF0;
}
.leftRightPadding {
  padding-left: 5%;
  padding-right: 5%;
  color: #555;
}

.glyphicon-trash-font-weight {
  font-weight: 900 !important;
}
.task-invalid button.delete {
  background-color: #EDEFF0;
}
.delete {
  background-color: #fff;
}
.task {
  min-width: 200px;
  max-width: 300px;
  height: auto;
  margin: 2% 3.8%;
  padding: 1%;
 /* border: 1px solid #ddd;*/
  background-color: #fff;
}
#header > div > div > div.lang {
  float:right;
  margin:6% 0%;
}
#header > div > div > div.lang a{
  text-decoration: underline;
}
#body > div > div.row {
  margin: 2%;
}
.form-control-select {
  height: 27px !important;
  padding: 3px 12px !important;
  border-color: #cccccc;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.add-task-btn-float-right {
  float: right !important;
}
body hr {
  height:1px;
  border:none;
  border-bottom: 2px solid #000;
}
/* Tooltip */
.test + .tooltip > .tooltip-inner {
  background-color: #FFFFFF;
  color: #7F8A94;
  border: 1px solid gray;
  padding: 15px 30px;
  font-size: 14px;
  border-style: ridge;

}
/* Tooltip on top */
.test + .tooltip.top > .tooltip-arrow {
  border-top: 5px solid gray;
  /*border-left: solid transparent 5px;
  left: 90%;
  margin-left: 0;*/
}
/* Tooltip on bottom */
.test + .tooltip.bottom > .tooltip-arrow {
  border-top: 5px solid gray;
}
/* Tooltip on left */
.test + .tooltip.left > .tooltip-arrow {
  border-top: 5px solid gray;
}
/* Tooltip on right */
.test + .tooltip.right > .tooltip-arrow {
  border-top: 5px solid gray;
}

.invalid {
  text-decoration: line-through;
  color: #d7d7d7;
}
.task-invalid {
  text-decoration: line-through;
  background-color: #5e5e5e;
  color: #d7d7d7;
}
.task-completed {
  background-color: #d7d7d7;
  color: #EDEFF0;
}
.completed {
  background-color: #d7d7d7;
  color: #EDEFF0;
 /* background-color: #5bc0de;
  border-color: #46b8da;
  color: #fff*/
}
.task-inprogress{
  background-color: #5bc0de;
  color: #d7d7d7
}
.inprogress {
   background-color: #5bc0de;
   color: #fff
}
input[type="checkbox"].check-completed {
  display: none;
}

.card {
  box-shadow: 0px 5px 5px -4px rgba(0, 0, 0, 0.75);
}
.top-bottom-margin {
  margin-top: 1%;
  margin-bottom: 1%;
}