html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  border: 2px solid black;
  margin: 0.2%!important;
  background-color: #EDEFF0;
  color: #474d52 ;
}
.leftRightPadding {
  padding-left: 5%;
  padding-right: 5%;
  color: #555;
}

.glyphicon-trash-font-weight {
  font-weight: 900 !important;
}
.task-invalid button.delete {
  background-color: #EDEFF0;
  transition: all 0.3s ease 0s;
}
.delete {
  background-color: #fff;
  transition: all 0.3s ease 0s;
}
.delete:hover {
  transform: translateY(-4px);
}
.task {
  min-width: 200px;
  max-width: 300px;
  height: auto;
  margin: 2% 3.8%;
  padding: 1%;
 /* border: 1px solid #ddd;*/
  background-color: #fff;
}
.lang {
  float:right;
  margin:6% 0%;
}
.lang a{
  text-decoration: underline;
}
#body > div > div.row {
  margin: 2%;
}
.form-control-select {
  height: 27px !important;
  width: 100%;
  padding: 3px 12px !important;
  border-color: #cccccc;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.add-task-btn-float-right {
  float: right !important;
}
.margin-all {
  margin: 2% 3%;
}
.login-margin-top-buttom {
  margin-top: 1%;
  margin-bottom: 1%;
}
body hr {
  height:1px;
  border:none;
  border-bottom: 2px solid #000;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.login-logout-right-margin {
  margin-right: -50px;
}
/* Tooltip */
/*.test + .tooltip > .tooltip-inner {
  background-color: #FFFFFF;
  color: #7F8A94;
  border: 1px solid gray;
  padding: 15px 30px;
  font-size: 14px;
  border-style: ridge;

}*/
.padding-left {
  padding-left: 0%!important;
}
.underline {
  text-decoration: underline;
}
.mar-left{
  margin-left: 6px;
}
.invalid {
  text-decoration: line-through;
  color: #d7d7d7;
}
.task-invalid {
  text-decoration: line-through;
  background-color: #5e5e5e;
  color: #d7d7d7;
}
.task-completed {
  background-color: #d7d7d7;
  color: #EDEFF0;
}
.completed {
  background-color: #d7d7d7;
  color: #EDEFF0;
 /* background-color: #5bc0de;
  border-color: #46b8da;
  color: #fff*/
}
.task-inprogress{
  background-color: #5bc0de;
  color: #d7d7d7
}
.inprogress {
   background-color: #5bc0de;
   color: #fff
}
input[type="checkbox"].check-completed {
  display: none;
}

.card {
  box-shadow: 0px 5px 5px -4px rgba(0, 0, 0, 0.75);
}
.grow {
  transition: all .2s ease-in-out;
  /*opacity: 1;*/
  /*filter: alpha(opacity=100);*/ /* internet explorer */
}
.grow:hover {
  transform: scale(1.1);
  opacity: 0.8;
  /*filter: alpha(opacity=60);*/ /* internet explorer */
}
.top-bottom-margin {
  margin-top: 1%;
  margin-bottom: 1%;
}
.select-width {
  width: 187px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .select-width {
    width: 175px;
  }
}
.margin-left_and_width {
  margin-left: 27%;
  width: 624px;
}
.submenu-chart{
  transition: all 0.3s ease 0s;
}
.submenu-chart:hover{
  transform: translateY(-4px);
}
li.activeClass {
  background-color: rgb(214, 214, 214) !important;
  border-radius: 4px;
}
.nav > li > a:focus, .nav > li > a:hover {
  background-color: rgb(214, 214, 214) !important;
}
span.glyphicon-log-in {
  transition: all 0.3s ease 0s;
}
span.glyphicon-log-in:focus, span.glyphicon-log-in:hover {
  transform: rotate(1turn) scale(1.1);
}
p.float-right:hover .glyphicon-log-in, p.float-right:focus .glyphicon-log-in{
  transform: rotate(1turn) scale(1.2);
}
span.glyphicon-log-out {
  transition: all 0.3s ease 0s;
}
span.glyphicon-log-out:focus, span.glyphicon-log-out:hover {
  transform: rotate(1turn) scale(1.1);
}
p.float-right:hover .glyphicon-log-out, p.float-right:focus .glyphicon-log-out{
  transform: rotate(1turn) scale(1.2);
}

.login-btn-padding-right {
  padding-right: 5px;
}
.login-btn-padding-left {
  padding-left: 5px;
}
.select-style:hover{
  background-color: #e6e6e6;
  border-color: #ADADAD;
  color: #333;
}